
<form class="form-horizontal" (ngSubmit)="save()">
<fieldset>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="category">Category Name</label>  
      <div class="col-md-4">
        <input name="Sub-Category Name" type="text" placeholder="Enter category Name" class="form-control input-md" required="">
       </div>
    </div>
    <br/><br/>
   <!-- <div class="form-group">
      <label class="col-md-4 control-label" for="dis_count">Discount</label>  
      <div class="col-md-2">
      <input id="dcount" name="dcount" type="text" placeholder="discount" class="form-control input-sm">
    </div>
    </div>
    <br/><br/> -->

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="sub_category">Sub-Category</label>  
      <div class="col-md-4">
        <input name="Sub-Category Name" type="text" placeholder="Enter subcategory Name" class="form-control input-md" required="">
     </div>
    </div>
    <br/><br/>
     <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="items">Items</label>  
      <div class="col-md-4">
      <input name="items" type="text" placeholder="item_name" class="form-control input-md" [(ngModel)]="items.itemName">
        
      </div>
    </div>
    
    <br/><br/>
    <div class="form-group">
      <label class="col-md-4 control-label" for="filebutton">Upload image</label>
      <div class="col-md-4">
        <input  name="filebutton" class="input-file" type="file" [(ngModel)]="items.image">
      </div>
    </div>
  <br/>
 <div class="form-group">
        <label class="col-md-4 control-label" for="items">sellingPrice</label>  
        <div class="col-md-4">
        <input  name="price" type="text" placeholder="price of the item" class="form-control input-md" [(ngModel)]="items.sellingPrice">
          </div>
          <br/>
          <br/>
          <div class="form-group"></div>
          <label class="col-md-4 control-label">stock</label>
          <div class="col-md-4">
            <input  name="qty" type="text" placeholder="quantity" class="form-control input-md" [(ngModel)]="items.stock">
              </div>
             
       
         </div>
<br/><br/>
         <div class="form-group">
            <label class="col-md-4 control-label" for="textarea">Description</label>
            <div class="col-md-4">                     
              <textarea class="form-control" id="desc" name="desc" [(ngModel)]="items.description"></textarea>
              <br/>
      <span><button  name="add" class="btn btn-primary"> Add </button>
    
        <!-- <button id="edit" name="edit" class="btn btn-warning"> Edit </button> -->
      </span> 
            </div>
          </div>
    
        
    </fieldset>
  </form>